# Exemple de configuration des variables d'environnement
MYSQL_ROOT_PASSWORD=votre_mot_de_passe_root
MYSQL_DATABASE=smarttask_db
MYSQL_USER=smarttask_user
MYSQL_PASSWORD=votre_mot_de_passe_user

DB_HOST=db
PORT=5000

PORT_FRONTEND=8081
PORT_BACKEND=5000
PORT_DB=3306
